[submodule "files/config/oh-my-fish"]
	path = files/config/oh-my-fish
	url = https://github.com/oh-my-fish/oh-my-fish
[submodule "files/vim/bundle/Vundle.vim"]
	path = files/vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
