"*":
  "autocomplete-plus":
    autoActivationDelay: 500
    enableAutoActivation: false
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    disabledPackages: [
      "cucumber-runner"
      "deprecation-cop"
      "dev-live-reload"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "ex-mode"
      "cucumber-step"
      "hard-wrap"
    ]
    projectHome: "/Users/rpatterson/Projects"
    telemetryConsent: "limited"
    themes: [
      "atom-light-ui"
      "solarized-light-syntax"
    ]
  "cucumber-runner": {}
  editor:
    fontFamily: "Anonymous Pro"
    invisibles: {}
    lineHeight: 1
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "bfdef760-8980-64a8-ddb4-f00d379af870"
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  "jupyter-notebook": {}
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
    useGitHubStyle: true
  metrics:
    userId: "b776f2eef9aff1bca9b05caa510e830b85093658"
  "one-dark-ui":
    hideDockButtons: true
  "one-light-ui":
    hideDockButtons: true
  "open-recent":
    listDirectoriesAddedToProject: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      showInStatusBar: true
    prettierOptions:
      trailingComma: "all"
  "release-notes":
    viewedVersion: "0.90.0"
  "tree-view":
    focusOnReveal: false
    hideVcsIgnoredFiles: true
  "vim-mode":
    useSmartcaseForSearch: true
  "vim-mode-plus":
    highlightSearch: true
    incrementalSearch: true
    useClipboardAsDefaultRegister: false
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  welcome:
    showOnStartup: false
