# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# 'body':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

'.platform-darwin atom-text-editor':
  'cmd-r': 'unset!'
  'cmd-r': 'custom:refresh-browser'

'atom-text-editor.vim-mode-plus.insert-mode':
  'j k': 'vim-mode-plus:activate-normal-mode'
  'ctrl-p': 'autocomplete-plus:activate'

'atom-text-editor.vim-mode-plus.normal-mode':
  'ctrl-l': 'window:focus-pane-on-right'
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-o': 'last-cursor-position:previous'
  'ctrl-i': 'last-cursor-position:next'
  ', /': 'vim-mode-plus:clear-highlight-search'
  'Q Q': 'hard-wrap:reflow-selection'

'atom-text-editor.vim-mode-plus.visual-mode':
  'Q': 'hard-wrap:reflow-selection'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  ':': 'ex-mode:open'
  ';': 'ex-mode:open'

'atom-text-editor.vim-mode-plus.normal-mode[data-grammar~=gherkin]':
  'ctrl-]': 'cucumber-step:jump-to-step'

'body':
  'ctrl-p': 'fuzzy-finder:toggle-file-finder'

  'ctrl-tab': 'unset!'
  'ctrl-shift-tab': 'unset!'
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-shift-tab ^ctrl': 'unset!'
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab': 'pane:show-previous-item'
