[helper-driver.qtm]
description = "Run QTM on workspaces"

[[helper-driver.qtm.options]]
name = "FORWARD_SSH_AUTH"
description = "Set to nonempty to forward SSH auth over QTM."
scope = "provider"

[[helper-driver.qtm.options]]
name = "FORWARDS"
description = "Set to QTM forwarding arguments"
scope = "instance"

[helper-driver.qtm.commands]
start = '''
set -eu
atrium exec "${ATRIUM_WORKSPACE:?}" sh <<EOF
set -eu
if ! command -v qtm >/dev/null; then
	curl "https://gitlab.com/CGamesPlay/qtm/-/raw/main/share/qtm-install-latest.sh" | sh
fi
qtm close
RUST_LOG=qtm=debug qtm daemon --log-to-file=qtm.log --background
EOF
qtm add "${ATRIUM_WORKSPACE:?}" --helper "!atrium exec ${ATRIUM_WORKSPACE:?} sh" \
	${FORWARD_SSH_AUTH:+-R"/tmp/ssh-1000/ssh-auth.sock:$SSH_AUTH_SOCK#ssh-auth"} \
	${FORWARDS:-}
'''
stop = '''
qtm remove-peer "${ATRIUM_WORKSPACE:?}"
'''
